<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Wedding" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Wedding" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
   <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Pacifico' %>
       <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Arizona' %>
   <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Great+Vibes' %>
   <%= stylesheet_link_tag 'application', "http://fonts.googleapis.com/css?family=Tangerine"%>
    <%= stylesheet_link_tag 'application', "http://fonts.googleapis.com/css?family==Mr+De+Haviland"%>
    <%= stylesheet_link_tag 'application', "http://fonts.googleapis.com/css?family=Domine"%> 
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
      <script>
$(document).ready(function(){
     $('.weekend').hover(function(){
         $('.something').css("display","block");
     });
  
  $('.something').mouseleave(function(){
    $('.something').css("display","none");
    });
  
  $('.something').mouseenter(function(){
    $('.something').css("display","block");
    });
  
  $('.weekend').mouseleave(function(){
    $('.something').css("display","none");
    });
  
});
    </script>

    


    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>


  </body>
</html>
