  <div id="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <h4> Oct. 19th 2014 </h4>
            <li class="active"><a href="/story">Story</a></li>
            <li><a href="/party">About our Wedding Party</a></li>
            <li><a href="/pictures">Photos</a></li>
            <li><a href="/rsvp">RSVP</a></li>
            <li><a class="weekend" href="/weekend">Wedding Weekend</a></li>
                <span class="something">
                
                  <li><a href="/events">Pre Wedding Events</a></li>
                  <li><a href="/dayof">Day of Schedule</a></li>
                  <li><a href="/parking">Parking</a></li>
                  <li><a href="/hotel">Hotel info</a></li>          
                  </span>
            <li><a href="/registry">Registry</a></li>
            <li><a href="/todo">Things to do in Austin</a></li>
          
            
          </ul>
        </div>
        <br><br><br>
              <div class="col-xs-6 col-md-4"><h1>Registry</h1>
               <%= link_to image_tag( 'bed_bath.png'), 'http://bit.ly/RcfQaM' %>  <br><div class="about"> <%=link_to('Bed Bath and Beyond','http://bit.ly/RcfQaM') %></div> <br>
        </div>
        <br><br><br>
           <div class="col-xs-6 col-md-4"><h1></h1>
             
             <%= link_to image_tag('wills_son.jpg',size: "289x185"), 'http://bit.ly/1hpPYP1' %>  <br><div class="about"> <%=link_to('William Sanoma','http://bit.ly/1hpPYP1') %></div> <br>
        </div>
        <br><br><br>
          <div class="col-xs-6 col-md-4"><h1></h1>
             
            <%= link_to image_tag('pottery_barn.jpg',size: "289x289"), 'http://bit.ly/1jt7SnT' %>  <br><div class="about"> <%=link_to('Pottery Barn','http://bit.ly/1jt7SnT') %></div> <br>
        </div>
        
        
        
        
       
  </div>
</div>
