sean@sean-Latitude-E6400:~/Sites/stephandsean/Wedding/app/views/pictures$ vim index.erb 

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("1.jpg", :alt => "rss feed") %>
  </div>
  
  <div class="item">
      <%= image_tag("2.jpg", :alt => "rss feed") %>
  </div>


  <div class="item">
      <%= image_tag("3.jpg", :alt => "rss feed") %>
  </div>

    <div class="item">
      <%= image_tag("4.jpg", :alt => "rss feed") %>
    </div>
    
    <div class="item">
      <%= image_tag("5.jpg", :alt => "rss feed") %>
    </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
